body {
    background: black;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: cursive;
}


.postcard {
    background: white;
    width: 420px;
    padding: 10px 15px;
}

.postcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postcard-header h1 {
    margin: 0;
    font-size: 28px;
}

.postcard-header img {
    width: 60px;
}

.postcard-body {
    display: flex;
    margin-top: 10px;
}

.body-left,
.body-right {
    width: 50%;
    padding: 5px;
}

.body-left p {
    margin-top: 0;
    font-size: 14px;
}

.body-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.body-right input {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 12px;
    padding: 3px;
    outline: none;
}

.postcard-footer {
    text-align: center;
    margin-top: 10px;
}

.postcard-footer button {
    background: lightgrey;
    border: 1px solid grey;
    padding: 5px 12px;
    cursor: pointer;
}
